h1 {
  text-align: center;
}

#supportedPlatforms {
  display: flex;
}

#supportedPlatforms div {
  margin: 2px 2px 2px 0;
  background: #e4edf4;
  border: 1px solid #e4edf4;
  padding: .4em .5em;
  font-size: 12px;
}

#pluginName a {
  font-size: 21px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

#pluginName a:hover {
    text-decoration: underline;
}

#pluginList {
  list-style-type: none;
  padding: 0px;
}

#pluginList li {
  padding: 0px;
  margin-bottom: 10px;
}

#searchwrapper {
  text-align: center;
}

#searchwrapper .searchBox {
  width: 60%;
}
